.alert {
    padding: 10px;
    color: white;
}

.alert-success{
    background-color: #04AA6D;
}

.alert-danger{
    background-color: #f44336;
}
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}